{% extends 'base.html.twig' %}

{% block title %}Availabilities{% endblock %}

{% block body %}

    <h4>Availabilities for {{ salesRep.firstName }} {{ salesRep.lastName }}</h4>



{% endblock %}

{% block modal %}

{% endblock %}